#box{
	width:500px;
	height:500px;
	background: -webkit-linear-gradient(#000,#fff);
	background: -moz-linear-gradient(#000,#fff);
	background: -ms-linear-gradient(#000,#fff);
	background: -o-linear-gradient(#000,#fff);
}